@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden;
}

::-webkit-scrollbar {
	display: none;
}

.simplebar-scrollbar::before {
    width: 100%;
	background-image: linear-gradient(-131deg, #E7B02B 0%, #ff6f61 100%);
}

.simplebar-scrollbar::after {
    width: 100%;
	background-image: linear-gradient(-131deg, #E7B02B 100%, #ff6f61 100%);
	opacity: 1;
}


.navbar {
    background: rgba(255,255,255,0.6) !important;
    z-index: 2;
    backdrop-filter: blur(20px) saturate(140%);
    -webkit-backdrop-filter: blur(20px) saturate(140%);
 /* border-bottom: 1px solid #d3d3d3;*/
    }
    .navbar-dark .navbar-nav .nav-link {
    color: #000; //navbar innertext
    }
    .navbar-brand.custom {
    	color: #000; //navbartext
    }
    .mytoast {
    	margin-top: 100px;
    }
    @font-face {
        src: url(./Mija-W03-Regular.otf) format('opentype');
        font-family: 'Mija-W03-Regular';
    }
    .logo {
    	margin-top: 100px;
    }
    .headrepo-text {
    	font-weight: bold;
        letter-spacing: -3px;
    	font-size: 50px;
    	margin-top: 100px;
    	background: linear-gradient(to right, #fa867a, #ff6f61 50%, #ffecdc, #fa867a);
    	background-size: 400%;
    	transition: width 10s;
    	overflow: hidden;
    	-webkit-text-fill-color: transparent;
    	-webkit-background-clip: text;
    	animation: animate 10s linear infinite;
    	font-family: 'Mija-W03-Regular';
    }
    @keyframes animate {
    	0% {
    		background-position: 0%;
    	}
    	100% {
    		background-position: 400%;
    		overflow:hidden;
    	}
    }
    .headrepo2-text {
    	font-weight: bold;
    	font-size: 50px;
    	letter-spacing: -0.5px;
    	margin-top: -40px;
    margin-left: 1px;
    margin-right: 1px;
    	color: #383838;
    	background: linear-gradient(to right, #fa867a, #ff6f61 50%, #ffecdc, #fa867a);
    	background-size: 400%;
    	overflow: hidden;
    	-webkit-text-fill-color: transparent;
    	-webkit-background-clip: text;
    	animation: animate2 10s linear infinite;
    	font-family: 'Mija-W03-Regular';
    }
    @keyframes animate2 {
    	0% {
    		background-position: 0%;
    	}
    	100% {
    		background-position: 400%;
    		overflow:hidden;
    	}
    }
    .subrepo-text {
    	margin-top: 30px;
    	color: #807d7f;
    }
    .firstimg {
    	margin-top: 25px;
    }
    .elegance {
    	margin-bottom: 25px;
    }
    .firstimgtext {
    	font-size: 40px;
    	font-weight: bold;
    }
    .secondimgtext {
    	font-weight: bold;
    }
    .repo{
        height: 900px;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72);
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto;
        margin-bottom: 25px;
   }
   #paypallinkcolor {
   	    color: #ff6f61;
   }
   .repoaddtext {
   	    text-align: center;
   	    color: #fff;
   	    font-size: 36px;
   }
   .repopress {
   	    text-align: center;
   	    color: #fff;
   	    font-size: 15px;
   }
   .cydialogo {
   	    border-radius: 15px;
   	    margin-top: 50px;
   }
   .cydiatext {
   	    text-align: center;
   	    color: #fff;
   	    margin-top: 15px;
   }
   .sileologo {
   	    border-radius: 15px;
   	    margin-top: 50px;
   }
   .sileotext {
   	    text-align: center;
   	    color: #fff;
   	    margin-top: 15px;
   }
   .zebralogo {
   	    border-radius: 15px;
   	    margin-top: 50px;
   }
   .zebratext {
   	    text-align: center;
   	    color: #fff;
   	    margin-top: 15px;
   }
   .installerlogo {
   	    border-radius: 15px;
   	    margin-top: 50px;
   }
   .installertext {
   	    text-align: center;
   	    color: #fff;
   	    margin-top: 15px;
   }
   .barrier {
   	    height: 600px;
        background: #000;
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto;
   }
   .packages {
   	    padding-top: 6px;
   	    margin-bottom: 15px;
   	    font-weight: bold;
   	    background: linear-gradient(to right, #ff6a00, #ee0979);
   	    -webkit-text-fill-color: transparent;
   	    -webkit-background-clip: text;
   }
   .popular {
   	    padding-top: 25px;
   	    color: #fff;
   }
   .popularContainer {
   	    margin-bottom: 25px;
   }
   .package {
   	    alignment: center;
   }
   .youtube {
   	    height: 130px;
   	    width: 130px;
   	    margin-top: 6px;
   }
   .fbdarkmode {
   	    height: 130px;
   	    width: 130px;
   	    margin-top: 6px;
   }
   .innerDiv1 {
   	    padding-top: 20px;
   }
   .yt {
   	    display: inline-block;
   }
   .yt1img {
   	    border-radius: 15px;
   	    object-fit: cover;
   }
   .yt2img {
   	    border-radius: 15px;
   	    object-fit: cover;
   }
   .yt3img {
   	    border-radius: 15px;
   	    object-fit: cover;
   }
   .yt4img {
   	    border-radius: 15px;
   	    object-fit: cover;
   }
   .tweakhead {
   	    padding-top: 5px;
   	    color: #fff;
   	    font-size: 20px;
   }
   .tweaktitle {
   	    margin-top: -18px;
   	    color: #717171;
   	    font-size: 13px;
   }
   .nldimg {
   	    height: 50px;
   	    width: 50px;
   	    object-fit: cover;
   }
   .nldtext {
   	    color: red;
   	    text-align: center;
   	    font-size: 20px;
   }
   .toast {
   	    text-align: center;
   	    margin-left: auto;
   	    margin-right: auto;
   }
   .alert {
   	    background-color: #ff6f61;
   	    text-align: center;
   }
   .nldalert {
   	    text-align: center;
   	    margin-left: 10px;
   }
   
   /* card start */

.mainContainer {
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.parentContainer {
	display: inline-block;
	margin-top: 30px;
	margin-left: 20px;
	position: relative;
	height: 450px;
}

.parentContainer4 {
	margin-right: 20px;
}

.parentContainer img {
	width: 280px;
	height: 340px;
	margin-top: 70px;
	object-fit: cover;
	border-radius: 15px;
}

.parentContainer1 img {
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
}

.parentContainer2 img {
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
}

.parentContainer3 img {
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
}

.parentContainer4 img {
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.36);
}

.text-block .happysolucki {
	text-align: center;
	color: #fff;
	font-size: 18px;
	bottom: 340px;
	right: 150px;
	position: absolute;
}

.text-block .hsl {
	text-align: center;
	font-size: 30px;
	color: #fff;
	bottom: 290px;
	right: 210px;
	position: absolute;
}

.text-block .laetustheme3 {
	text-align: center;
	font-size: 30px;
	color: #fff;
	bottom: 255px;
	right: 42px;
	position: absolute;
}

.text-block .laetuslaebal {
	text-align: left;
	font-size: 15px;
	color: #fff;
	bottom: 60px;
	right: 19px;
	position: absolute;
}

.text-block2 .ubik {
	text-align: center;
	color: #fff;
	font-size: 18px;
	bottom: 340px;
	right: 226px;
	position: absolute;
}

.text-block2 .kalm {
	text-align: center;
	font-size: 30px;
	color: #fff;
	bottom: 290px;
	right: 185px;
	position: absolute;
}

.text-block2 .kalmlabel {
	text-align: left;
	font-size: 15px;
	color: #fff;
	bottom: 60px;
	right: 18px;
	position: absolute;
}

.text-block3 .kritanta {
	text-align: center;
	color: #fff;
	font-size: 18px;
	bottom: 340px;
	right: 196px;
	position: absolute;
}

.text-block3 .homepluspro {
	text-align: center;
	font-size: 30px;
	color: #fff;
	bottom: 290px;
	right: 47px;
	position: absolute;
}

.text-block3 .homeplusprolabel {
	text-align: left;
	font-size: 15px;
	color: #fff;
	bottom: 60px;
	right: 44px;
	position: absolute;
}

.text-block4 .alexman {
	text-align: center;
	color: #fff;
	font-size: 18px;
	bottom: 340px;
	right: 190px;
	position: absolute;
}

.text-block4 .ciutadella {
	text-align: center;
	font-size: 30px;
	color: #fff;
	bottom: 290px;
	right: 126px;
	position: absolute;
}

.text-block4 .rounded {
	text-align: center;
	font-size: 30px;
	color: #fff;
	bottom: 255px;
	right: 138px;
	position: absolute;
}

.text-block4 .ciutadellalabel {
	text-align: left;
	font-size: 15px;
	color: #fff;
	bottom: 60px;
	right: 106px;
	position: absolute;
}

.cardHeader {
	position: absolute;
}

.cardHeader h1 {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 35px;
	color: #000;
	font-weight: 700;
}

.cardHeader h4 {
	color: #aaaaaa;
	font-size: 18px;
	margin-left: 20px;
	font-weight: 600;
}

   /* card end */
